/* create bill */

.create-bill-container {
  border: var(--light-gray) solid 1px;
  margin: 0 0 40px;
}

.create-bill-container #bill-header img {
  width: 200px;
}

#info * {
  margin: 0;
  text-align: center;
}

#bill-number {
  border: solid 1px var(--light-gray);
  margin: auto;
  width: 400px;
  height: 100px;
  text-align: center;
}

#bill-number * {
  margin: 0;
}

#client-bill-info {
  border-width: 1px 0 1px;
  padding: 20px 0;
}

#client-info {
  padding: 0 2px 0 0;
  display: flex;
  justify-content: start;
}

#client-info form {
  display: flex;
  justify-content: start;
  width: 100%;
}

#client-info form label div #name-title {
  width: 97px;
}

#client-info form label div .title {
  display: flex;
  align-items: center;
  width: 220px;
  padding-left: 2px;
  background: var(--light-gray);
}

#client-info form label div .title p {
  margin: 0;
}

#client-info form label div input {
  border: solid 1px var(--light-gray);
  width: 100%;
  outline: none;
}

#bill-info {
  margin: 10px 0;
  border: solid var(--light-gray) 1px;
  padding: 0 0 0 4px;
}

#bill-info #bill-date-title {
  background: var(--light-gray);
  width: 100%;
  text-align: center;
}

#bill-info div p {
  margin: 0;
}

#description-container {
  padding: 0;
}

#description-container table tr th {
  width: 100%;
}

#description-container table tr #price {
  min-width: 300px;
}

.description-title * {
  background: var(--light-gray);
}

#description-container table tr * {
  border: solid var(--light-gray) 1px;
  text-align: center;
}

#description-inputs * {
  text-align: start;
  width: 100%;
  outline: none;
}

#total-amount {
margin: 20px 0;
}

#total-amount div p {
  margin: 0;
  font-size: 0.9rem;
}

#total-amount div #margin {
  margin-left: 20px;
}


#number-amount {
  padding: 0;
}

#number-amount table {
  width: 100%;
  text-align: center;
}

#number-amount * {
  width: 100%;
}

#price-table tr,
#price-table td {
  border: solid 1px var(--light-gray);
}

#price-table tr th {
  width: 30%;
}


#bill-footer {
  margin: 60px 0 0;
  padding: 5px 0;
  background: var(--light-gray);
  text-align: center;
  font-size: 0.9rem;
}

#bill-footer * {
  margin: 0;
}

#bill-buttons {
  margin: 15px 0;
}

#bill-buttons * {
  margin: 0 3px;
}
