/* sub nav */

.sub-nav {
  padding: 30px 0;
}

.sub-nav div {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-nav div form button {
  border: none;
  padding: 4px;
  background: var(--buttons-blue);
  color: white;
  border-radius: 2px;
}

.sub-nav div form button:hover {
  background: var(--buttons-blue-hover);
  transition: all ease-in 0.3s;
}

.sub-nav i {
  margin-right: 5px;
  font-size: 1.5rem;
}

.detail {
  border: solid var(--gray-borders);
  border-width: 1px 0 1px;
  padding: 2px 0;
}

.detail * {
  margin: 0;
}

.sub-nav div form input {
  height: 2rem;
  padding: 0 5px;
}

.sub-nav div form input:focus,
.sub-nav div form input:active {
  outline: none;
}

/* options bar */

.options-bar .buttons {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  border: none;
  padding: 5px 10px;
  background: var(--green-buttons);
  color: white;
  border-radius: 2px;
}

.buttons button:hover {
  background: var(--green-buttons-hover);
  transition: all ease-in 0.3s;
}

.options-bar .pagination {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Forms */

#forms {
  margin: 0 20px;
}

#forms table {
  margin: auto;
  width: 100%;
  table-layout: fixed;
}

#forms table tr #photo {
  width: 5%;
}

#forms table tr * {
  text-align: center;
}

#forms table tr td,
#forms table th {
  margin: auto;
  border: var(--gray-borders) solid 1px;
}

#forms table tr td {
  padding: 4px 0;
}

#form-photo {
  width: 35px;
  border-radius: 100%;
}

#forms table:first-child th {
  background: #f4f1f1;

  padding: 5px 0;
}

#dropdownMenuButton1 {
  background: var(--buttons-blue);
}

#dropdownMenuButton1:hover {
  background: var(--buttons-blue-hover);
  transition: all ease-in 0.3s;
}

#dropdownMenuButton1:focus-visible {
  outline: none;
}

.options-buttons button {
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  background: var(--buttons-blue);
  color: white;
}

.options-buttons button:hover {
  background: var(--buttons-blue-hover);
  transition: all ease-in 0.3s;
}

.dropdown .show {
  outline: none;
}

.dropdown .show li {
  margin: 0 auto;
  padding: 0;
}











/* media querys */

@media screen and (min-width: 768px) {
  .sub-nav div:first-child,
  .options-bar .buttons {
    justify-content: start;
  }

  .sub-nav div:nth-child(2),
  .options-bar .pagination {
    justify-content: end;
  }
}

@media screen and (max-width: 786px) {
  /* forms elements */

  #form table tr {
    margin: 0;
    display: block;
  }

  #forms table tr #photo {
    width: auto;
  }

  .dropdown {
    display: block;
    border: solid red 2px;
  }
}
