/* sub nav */

.sub-nav {
  padding: 30px 0;
}

.sub-nav div {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-nav div form button,
.select-button {
  border: none;
  padding: 4px;
  background: var(--buttons-blue);
  color: white;
  border-radius: 2px;
}

.sub-nav div form button:hover,
.select-button:hover {
  background: var(--buttons-blue-hover);
  transition: all ease-in 0.3s;
}

.select-button {
  margin: 0 2px;
  padding: 4px 6px;
}

.sub-nav i {
  margin-right: 5px;
  font-size: 1.5rem;
}

.detail {
  border: solid var(--gray-borders);
  border-width: 1px 0 1px;
  padding: 2px 0;
}

.detail * {
  margin: 0;
}

.sub-nav div form input {
  height: 2rem;
  padding: 0 5px;
}

.sub-nav div form input:focus,
.sub-nav div form input:active {
  outline: none;
}

#deleted-patient {
  margin: auto;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  padding: 20px 0;
  background: var(--cancel-red);
  color: white;
}

#deleted-patient p {
  margin: 0;
}

/* options bar */

.options-bar .buttons {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button {
  border: none;
  padding: 5px 10px;
  background: var(--green-buttons);
  color: white;
  border-radius: 2px;
}

.buttons button:hover {
  background: var(--green-buttons-hover);
  transition: all ease-in 0.3s;
}

.options-bar .pagination {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Forms */

#forms {
  margin: 0 20px 20px;
  font-size: 0.9rem;
}

#forms table {
  margin: auto;
  width: 100%;
  table-layout: fixed;
}

#forms table tr #photo {
  width: 5%;
}

#forms table tr #min-width {
  width: 7%;
}

#forms table tr #status {
  width: 5%;
}

#forms table tr * {
  text-align: center;
}

#forms table tr td,
#forms table th {
  margin: auto;
  border: var(--gray-borders) solid 1px;
}

#forms table tr td {
  padding: 4px 0;
}

#form-photo {
  width: 35px;
  border-radius: 100%;
}

#forms table:first-child th {
  background: #f4f1f1;
  padding: 5px 0;
}

#appointment-input {
  cursor: pointer;
  background: var(--light-gray);
}

/* aprove, cancel appointments */

#approve {
  margin: auto;
  border-radius: 4px;
  background: var(--approve-green);
  color: white;
  padding: 5px 10px;
  width: 60%;
}

#cancel {
  margin: auto;
  border-radius: 4px;
  background: var(--cancel-red);
  color: white;
  padding: 5px 10px;
  width: 60%;
}

#cancel-dot {
  width: 85%;
  margin: auto;
}

#cancel-dot i {
  font-size: 1.6rem;
  color: var(--cancel-red);
}

#approve-dot {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#approve-dot i {
  display: flex;
  justify-content: start;
  font-size: 2.5rem;
  color: var(--green-buttons);
}

#pending-dot {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

#pending-dot i {
  display: flex;
  justify-content: start;
  font-size: 2.5rem;
  color: var(--gray-borders);
}

#dropdownMenuButton1 {
  background: var(--buttons-blue);
}

#dropdownMenuButton1:hover {
  background: var(--buttons-blue-hover);
  transition: all ease-in 0.3s;
}

.options-buttons button,
#add-appointment-patient {
  border: none;
  border-radius: 2px;
  padding: 5px 10px;
  background: var(--buttons-blue);
  color: white;
}

.options-buttons button:hover,
#add-appointment-patient:hover {
  background: var(--buttons-blue-hover);
  transition: all ease-in 0.3s;
}

.dropdown .show {
  outline: none;
}

.dropdown .show li {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

/* detail info container */

.detail-info-container {
  margin: 40px 0;
  border: solid var(--light-gray);
  border-width: 1px 0 1px;
  padding: 20px 0;
  text-align: center;
}

.detail-info-container form label div {
  margin: auto;
  width: 400px;
  display: flex;
  justify-content: space-between;
  background: var(--light-gray);
}

.detail-info-container form label div span {
  padding: 0 5px;
}

.detail-info-container form label div input {
  border: solid 1px var(--light-gray);
  padding: 1px;
  width: 70%;
  text-align: center;
  outline: none;
}

.detail-info-container-buttons button {
  margin: 10px 2px;
}

#back-button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--light-gray);
}

#back-button:hover {
  background: var(--light-gray-hover);
  transition: all ease-in 0.3s;
}

#modify-button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--buttons-blue);
  color: white;
}

#modify-button:hover {
  background: var(--buttons-blue-hover);
  transition: all ease-in 0.3s;
}

#save-button,
#send-bill-button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--green-buttons);
  color: white;
}

#save-button:hover,
#send-bill-button:hover {
  background: var(--green-buttons-hover);
  transition: all ease-in 0.3s;
}

#delete-button,
#cancel-button,
#cancel-paid-button,
#cancel-form-button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: var(--delete-red);
  color: white;
}

#pay-notification * {
  transition: all ease-in-out 0.3s;
  margin-bottom: 20px;
}

#delete-button:hover,
#cancel-button:hover,
#cancel-paid-button:hover,
#cancel-form-button:hover {
  background: var(--delete-red-hover);
  transition: all ease-in 0.3s;
}

/* Select */

select {
  width: 70%;
  border: none;
  text-align: center;
}

#pay-notification {
  padding: 10px 0;
}

#pay-notification p {
  margin: 0 0 0 5px;
}

/* historial */

#options-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#options-container a {
  text-decoration: none;
  margin: 0 2px;
}

#options-container a div {
  display: flex;
  border-radius: 2px;
  background: var(--buttons-blue);
  color: white;
  padding: 20px;
}

#options-container div:hover {
  transition: all ease-in 0.3s;
  background: var(--buttons-blue-hover);
}

#options-container div * {
  margin: 0;
  font-size: 2rem;
}

#options-container div i {
  font-size: 2.5rem;
  margin-right: 2px;
}

/* media querys */

@media screen and (min-width: 768px) {
  .sub-nav div:first-child,
  .options-bar .buttons {
    justify-content: start;
  }

  .sub-nav div:nth-child(2),
  .options-bar .pagination {
    justify-content: end;
  }

  .sub-nav div:nth-child(3),
  .options-bar .pagination {
    justify-content: end;
  }
}

@media screen and (max-width: 786px) {
  /* forms elements */

  #form table tr {
    margin: 0;
    display: block;
  }

  .dropdown {
    display: block;
  }
}
