@import url('general.css');

:root {
  --blue: #144999;
  --blue-hover: #103b7d;
  --buttons-blue: #2e5eb0;
  --gray-borders: #adaaaa;
}

* {
  margin: 0;
  padding: 0;
}

/* Navbar */

#navbar-light {
  padding: 0;
}

#navbar-light .container-fluid {
  background: var(--blue);
}

#navbarNav ul {
  margin: 0 auto;
}

.navbar-nav li {
  color: white;
  padding: 15px 5px;
  font-size: 1.1rem;
}

.navbar-nav li:hover {
  background: var(--blue-hover);
  transition: all ease-in 0.3s;
}

.nav-item .nav-link * {
  color: white;
  margin: 0 2px;
}

.nav-item .user * {
  color: greenyellow;
}

.nav-item .logout * {
  color: red;
}


/* Company nav */

.company-name-date {
  padding: 40px 5px;
}

.company-name-date * {
  margin: 0;
}

.logo img {
  width: 160px;
}