@import url("general.css");
@import url("bills.css");
@import url("login.css");

:root {
  --blue: #00909c;
  --blue-hover: #066c76;
  --buttons-blue: #83a6ba;
  --buttons-blue-hover: #60879d;
  --green-buttons: #3baba7;
  --green-buttons-hover: #2f8784;
  --gray-borders: #adaaaa;
  --light-gray: #f1f1e8;
  --light-gray-hover: #d9d9ce;
  --delete-red: #c42424;
  --delete-red-hover: #a81212;
  --approve-green: #04ad04;
  --cancel-red: #f03a3a;
  --orange: #f47b26;
}

* {
  margin: 0;
  padding: 0;
}

/* Navbar */

#navbar-light {
  padding: 0;
}

#navbar-light .container-fluid {
  background: var(--blue);
}

#navbarNav ul {
  margin: 0 auto;
}

.navbar-nav li {
  color: white;
  padding: 15px 5px;
  font-size: 1.1rem;
}

.navbar-nav li:hover {
  background: var(--blue-hover);
  transition: all ease-in 0.3s;
}

.nav-item .nav-link * {
  color: white;
  margin: 0 2px;
}

.nav-item .user * {
  color: greenyellow;
}

.nav-item .logout * {
  color: red;
}

/* Company nav */

.company-name-date {
  padding: 40px 5px;
}

.company-name-date * {
  margin: 0;
}

.logo img {
  width: 160px;
}
