{% extends "layout.html" %} {% block body %}

<!-- sub-nav -->

<div class="row container-fluid sub-nav d-flex justify-content-between">
  <div class="col-sm-12 col-md-6">
    <i class="bx bxs-calendar-week"></i>
    <div class="detail">
      <h4>Listado de facturas</h4>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <form action="">
      <input type="text" placeholder="Buscar factura" />
      <button>Buscar</button>
    </form>
  </div>
</div>

<!-- options bar -->

<div class="row container-fluid options-bar">
  <!-- hacer luego cuando tenga las las validaciones listas para crear una factura desde cero -->
  <!-- <div class="col-sm-12 col-md-6 buttons">
    <a href="/crear_factura"><button type="button">Agregar factura</button></a>
  </div> -->
  {% if bills %}
  <div class="col-12 d-flex justify-content-end pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
  {% else %}
  {% endif %}
</div>

<!-- render data information -->

<div id="forms" class="f-flex justify-content-center">
  {% if bills %}
  <table>
    <tr>
      <th id="photo">No.</th>
      <th>Nombre</th>
      <th>Fecha de facturación</th>
      <th>Valor</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    {% for bill in bills %}
    <tr>
      <td>
        {% if bill[6] == 1 %}
          {{bill[2]}}
        {% else %}
        <i style="font-size: 1.2rem; color: red;" class="bi bi-x-circle"></i>
        {% endif %}
      </td>
      <td>{{bill[0].title()}} {{bill[1].title()}}</td>
      <td>
        {{bill[3].strftime("%Y-%m-%d").split("-")[2]}}/{{bill[3].strftime("%Y-%m-%d").split("-")[1]}}/{{bill[3].strftime("%Y-%m-%d").split("-")[0]}}
      </td>
      <td>${{"{:,.0f}".format(bill[4]+bill[4]*0.19).replace(',','.')}}</td>
      <td>
        {% if bill[5] == 1 %}
          <div
            id="approve-dot"
            class="d-flex justify-content-center align-items-center"
          >
            <i class="bi bi-dot"></i><span>Pagada</span>
          </div>
          {% else %}
          {% for status in appointments %}
            {% if status[0] == 2 and status[1] == bill[2] %}
            <div
              id="cancel-dot"
              class="d-flex justify-content-center align-items-center"
            >
              <i class="bi bi-dot"></i><span>Cita cancelada</span>
            </div>
            {% elif status[0] == 1 and status[1] == bill[2] %}
            <div
            id="pending-dot"
            class="d-flex justify-content-center align-items-center"
          >
            <i class="bi bi-dot"></i><span>Pendiente</span>
          </div>
            {% endif %}
          {% endfor %}
        {% endif %}
          
      </td>
      <td>
        <div class="options-buttons">
          <a href="/facturas/{{bill[2]}}"
            ><button type="button">
              <i class="bi bi-eye"></i>
              Ver
            </button></a
          >
        </div>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
<div class="d-flex justify-content-center detail-info-container">
  <h2>No tiene facturas disponibles</h2>
</div>
{% endif %} {% endblock %}
