{% extends "layout.html" %} {% block body %}

<!-- sub-nav -->

<div class="row container-fluid sub-nav d-flex justify-content-between">
  <div class="col-sm-12 col-md-6">
    <i class="bx bxs-calendar-week"></i>
    <div class="detail">
      <h4>Listado de facturas</h4>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <form action="">
      <input type="text" placeholder="Buscar factura" />
      <button>Buscar</button>
    </form>
  </div>
</div>

<!-- options bar -->

<div class="row container-fluid options-bar">
  <div class="col-sm-12 col-md-6 buttons">
    <a href="/crear_factura"><button type="button">Agregar factura</button></a>
  </div>
  <div class="col-sm-12 col-md-6 pagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- render data information -->

<div id="forms" class="f-flex justify-content-center">
  <table>
    <tr>
      <th id="photo">No.</th>
      <th>Nombre</th>
      <th>Fecha de facturación</th>
      <th>Valor</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    {% if bills %} {% for bill in bills %}
    <tr>
      <td>{{bill[2]}}</td>
      <td>{{bill[0].title()}} {{bill[1].title()}}</td>
      <td>{{bill[3]}}</td>
      <td>${{bill[4]}}</td>
      <td>
        {% if bill[5] == 2 %}
        <div
          id="pending-dot"
          class="d-flex justify-content-center align-items-center"
        >
          <i class="bi bi-dot"></i><span>Pendiente</span>
        </div>
        {% else %}
        <div
          id="approve-dot"
          class="d-flex justify-content-center align-items-center"
        >
          <i class="bi bi-dot"></i><span>Pagada</span>
        </div>
        {% endif %}
      </td>
      <td>
        <div class="options-buttons">
          <a href="/facturas/{{bill[2]}}"
            ><button type="button">
              <i class="bi bi-eye"></i>
              Ver
            </button></a
          >
        </div>
      </td>
    </tr>
    {% endfor %} {% endif %}
  </table>
</div>

{% endblock %}
