{% extends "layout.html" %} {% block body %}
<!-- sub-nav -->

<div class="row container sub-nav d-flex justify-content-between">
  <div class="col-sm-12 col-md-6">
    <i class="bi bi-plus-circle"></i>
    <div class="detail">
      <h4>Añadir factura</h4>
    </div>
  </div>
</div>

<!-- add information -->

<div class="container create-bill-container">
  <!-- header -->
  <div class="row" id="bill-header">
    <div class="col-sm-12 col-md-4 d-flex justify-content-center" id="logo">
      <img src="../static/css/images/clinic-logo.jpg" alt="" />
    </div>
    <div
      class="col-sm-12 col-md-4 d-flex flex-column justify-content-center"
      id="info"
    >
      <strong><div>Clinic project center</div></strong>
      <div>NIT X. XXX-XXX-XXX</div>
      <div>Cl 12 N XX - XXX</div>
      <div>Tel: 3256985</div>
      <div>Bogotá - Colombia</div>
      <div>algunaempresa@gmail.com</div>
    </div>
    <div
      class="col-sm-12 col-md-4 d-flex flex-column justify-content-center"
      id="bill-number"
    >
      <h4><strong>Factura no.</strong></h4>
      <h5>1</h5>
    </div>
  </div>

  <!-- client info -->
  <!-- work with forms, javascript and ajax's query  -->
  <div class="row" id="client-bill-info">
    <div class="col-sm-12 col-md-7" id="client-info">
      <!-- patient info form -->
      <form class="d-flex flex-column" action="">
        <label for="">
          <div class="d-flex">
            <div id="name-title" class="title">
              <small><p>Nombres</p></small>
            </div>
            <input type="text" />
          </div>
        </label>
        <label for="">
          <div class="d-flex">
            <div class="title">
              <small><p>Cedula</p></small>
            </div>
            <input type="text" />
            <div class="title">
              <small><p>Teléfono</p></small>
            </div>
            <input type="text" />
          </div>
        </label>
        <label for="">
          <div class="d-flex">
            <div class="title">
              <small><p>Dirección</p></small>
            </div>
            <input type="text" />
            <div class="title">
              <small><p>Ciudad</p></small>
            </div>
            <input type="text" />
          </div>
        </label>
      </form>
    </div>

    <!-- bill info form -->
    <div
      class="col-sm-12 col-md-5 d-flex flex-column justify-content-center align-items-center"
      id="bill-info"
    >
      <div id="bill-date-title">
        <p>Fecha factura</p>
      </div>
      <div>
        <p>28/04/2023</p>
      </div>
    </div>
  </div>

  <!-- description -->

  <div id="description-container" class="container">
    <form action="">
      <table class="row">
        <tr class="description-title">
          <th>Descripción</th>
          <th id="price">Costo</th>
        </tr>
        <tr id="description-inputs">
          <td><input type="text" placeholder="Descripción de consulta" /></td>
          <td>
            <input id="cost-input" type="text" placeholder="Monto cobrado" />
          </td>
        </tr>
      </table>
    </form>
  </div>

  <!-- mount in lyric and number -->

  <div class="row" id="total-amount">
    <!-- in lyrics -->
    <div class="col-sm-12 col-md-9" id="lyric-amount">
      <div id="lyric">
        <p><strong>Valor en letras</strong></p>
        <p id="margin">Doscientos ochenta mil pesos</p>
      </div>
      <div id="observations">
        <p><strong>Observaciones</strong></p>
        <p id="margin">Se genera pago a través de tarjeta de crédito</p>
      </div>
    </div>
    <!-- in numbers -->
    <div class="col-sm-12 col-md-3" id="number-amount">
      <table id="price-table">
        <tr>
          <th><small>Total bruto</small></th>
          <td><input readonly id="cost-output" type="text" /></td>
        </tr>
        <tr>
          <th><small>IVA 19%</small></th>
          <td><input readonly id="const-iva-output" type="text" /></td>
        </tr>
        <tr>
          <th><small>Total a pagar</small></th>
          <td><input readonly id="total-cost" type="text"></td>
        </tr>
      </table>
    </div>
  </div>

  <!-- footer -->

  <div class="container" id="bill-footer">
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae ea ipsam
        ex. Illo dolore, sapiente quibusdam, perferendis a deserunt, dolorem
        expedita necessitatibus molestias praesentium possimus architecto.
        Cumque, dolor quas. Saepe Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Facere quasi corrupti ullam assumenda consequuntur
        deserunt accusamus consequatur rerum ducimus aperiam corporis, quae
        maxime laboriosam autem enim numquam velit voluptate sequi!
      </p>
    </div>
  </div>
</div>

<!-- buttons -->
<div class="d-flex justify-content-center" id="bill-buttons">
  <button id="cancel-button">Cancelar</button>
  <button id="save-button">Generar factura</button>
</div>
{% endblock %}
