{% extends "layout.html" %} {% block title %} Crear paciente {% endblock %} {% block body %}

<!-- sub-nav -->

<div class="row container-fluid sub-nav d-flex justify-content-between">
  <div class="col-sm-12 col-md-6">
    <i class="bx bxs-user-plus"></i>
    <div class="detail">
      <h4>Agregar paciente</h4>
    </div>
  </div>
</div>

<!-- Render information -->

<div class="detail-info-container">
  <h3>Agregar paciente</h3>

  <form action="/crear_paciente" method="POST" class="d-flex flex-column">
    <label for="id">
      <div>
        <span>Identificación</span>
        <input placeholder="Identificación" type="text" name="id" />
      </div>
    </label>
    <label for="first-names">
      <div>
        <span>Nombres</span>
        <input placeholder="Nombres" type="text" name="first-names" />
      </div>
    </label>
    <label for="last-names">
      <div>
        <span>Apellidos</span>
        <input placeholder="Apellidos" type="text" name="last-names" />
      </div>
    </label>
    <label for="birth-date">
      <div>
        <span>F. Nacimiento</span>
        <input
          placeholder="Fecha de nacimiento"
          type="date"
          name="birth-date"
        />
      </div>
    </label>
    <label for="contact">
      <div>
        <span>Contacto</span>
        <input placeholder="Contacto" type="text" name="contact" />
      </div>
    </label>
    <label for="email">
      <div>
        <span>Correo</span>
        <input placeholder="Correo electrónico" type="email" name="email" />
      </div>
    </label>
    <label for="address">
      <div>
        <span>Dirección</span>
        <input
          placeholder="Dirección de domicilio"
          type="text"
          name="address"
        />
      </div>
    </label>
    <!-- buttons -->
    <div class="d-flex justify-content-center detail-info-container-buttons">
      <a href="/pacientes"
        ><button type="button" id="back-button">Cancelar</button></a
      >
      <button type="submit" id="save-button">Crear</button>
    </div>
  </form>
</div>

{% endblock %}
