{% extends "layout.html" %} {% block body %}

<!-- sub-nav -->

<div class="row container-fluid sub-nav d-flex justify-content-between">
  <div class="col-sm-12 col-md-6">
    <i class="bx bx-edit"></i>
    <div class="detail">
      <h4>Modificar paciente</h4>
    </div>
  </div>
</div>

<!-- Render information -->

<div class="detail-info-container">
  <h3>{{patient[2].title()}} {{patient[3].title()}}</h3>

  <form
    action="/guardar_edicion_paciente/{{patient[0]}}"
    method="POST"
    class="d-flex flex-column"
  >
    <label for="id">
      <div>
        <span>Identificación</span>
        <input
          value="{{patient[1]}}"
          placeholder="Identificación"
          type="text"
          name="id"
        />
      </div>
    </label>
    <label for="first-names">
      <div>
        <span>Nombres</span>
        <input
          value="{{patient[2].title()}}"
          placeholder="Nombres"
          type="text"
          name="first-names"
        />
      </div>
    </label>
    <label for="last-names">
      <div>
        <span>Apellidos</span>
        <input
          value="{{patient[3].title()}}"
          placeholder="Apellidos"
          type="text"
          name="last-names"
        />
      </div>
    </label>
    <label for="birth-date">
      <div>
        <span>F. Nacimiento</span>
        <input
          value="{{patient[4]}}"
          placeholder="Fecha de nacimiento"
          type="date"
          name="birth-date"
        />
      </div>
    </label>
    <label for="contact">
      <div>
        <span>Contacto</span>
        <input
          value="{{patient[5]}}"
          placeholder="Contacto"
          type="text"
          name="contact"
        />
      </div>
    </label>
    <label for="email">
      <div>
        <span>Correo</span>
        <input
          value="{{patient[6]}}"
          placeholder="Correo electrónico"
          type="email"
          name="email"
        />
      </div>
    </label>
    <label for="address">
      <div>
        <span>Dirección</span>
        <input
          value="{{patient[7]}}"
          placeholder="Dirección de domicilio"
          type="text"
          name="address"
        />
      </div>
    </label>
    <!-- buttons -->
    <div class="d-flex justify-content-center detail-info-container-buttons">
      <a href="/pacientes/{{patient[0]}}"
        ><button type="button" id="back-button">Cancelar</button></a
      >
      <a href="/editar_paciente/{{patient[0]}}">
        <button type="submit" id="save-button">Modificar</button>
      </a>
    </div>
    <div>
      <a href="/eliminar_paciente/{{patient[0]}}"
        ><button type="button" id="delete-button">Eliminar usuario</button></a
      >
    </div>
  </form>
</div>

{% endblock %}
