{% extends "login-signup.html" %} {% block loginSignup %}Bienvenido a nuestra clinica{% endblock %} {% block
login %}
<div class="row">
  <div id="left-login" class="col-sm-12 col-md-6">
    <p>
      "Tu salud es nuestra prioridad, confía en nosotros para cuidarte y
      acompañarte en cada paso de tu camino hacia el bienestar."
    </p>
    <img src="../static/css/images/clinic-logo-removebg-preview.png" alt="" />
    <!-- <i class="bx bx-plus-medical"></i> -->
  </div>
  <div
    id="right-login"
    class="col-sm-12 col-md-6 d-flex flex-column justify-content-center align-items-center"
  >
    <h5>Inicio de sesión</h5>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <p id="login-message">{{message}}</p>
    {% endfor %} {% endif %} {% endwith %}
    <form id="login" class="d-block" action="/ingreso" method="POST">
      <div>
        <label for="username"> Correo o usuario </label><br />
        <input type="text" name="username" placeholder="Usuario o correo" />
      </div>
      <div>
        <label for="password"> Contraseña </label><br />
        <input type="password" name="password" placeholder="Contraseña" />
      </div>
      <input type="checkbox" name="" id="checkbox" />
      <label for=""
        ><small id="tems-conditions">Términos y condiciones</small></label
      >
      <div id="button-div" class="d-flex justify-content-center">
        <button type="submit">Ingresar</button>
      </div>
      <div id="button-div" class="d-flex justify-content-center">
        <a href="/registro"
          ><button id="sign-up" type="button">Registrarse</button></a
        >
      </div>
    </form>
  </div>
</div>
{% endblock %}
