{% extends "layout.html" %} {% block body %} {% if data %}
<!-- sub-nav -->

<div class="row container-fluid sub-nav d-flex justify-content-between">
  <div class="col-sm-12 col-md-6">
    <i class="bx bx-user"></i>
    <div class="detail">
      <h4>Citas de {{data[0][7].title()}} {{data[0][8].title()}}</h4>
    </div>
  </div>
</div>

<!-- render data information -->

<div id="forms" class="f-flex justify-content-center">
  <table>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Horario</th>
      <th>Observaciones</th>
      <th>Estado</th>
      <th>Forma de pago</th>
      <th>Estado de pago</th>
      <th>Precio</th>
    </tr>
    <tr>
      {% for data in data %}
      <td>{{data[7].title()}} {{data[8].title()}}</td>
      <td>
        {{data[1].strftime("%Y-%m-%d").split("-")[2]}}/{{data[1].strftime("%Y-%m-%d").split("-")[1]}}/{{data[1].strftime("%Y-%m-%d").split("-")[0]}}
      </td>
      <td>{{data[2]}} - {{data[3]}}</td>
      <td>
        {% if bills %}
          {% for bill in bills %}
            {% if bill[7] == data[0] %}
              {% if bill[5] == "" %}
                No tiene observaciones
              {% else %}
                {{bill[5].capitalize()}}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </td>
      {% if data[6] == 1 %}
      <td>
        <div
          id="approve-dot"
          class="d-flex justify-content-center align-items-center"
        >
          <i class="bi bi-dot"></i><span>Aprobada</span>
        </div>
      </td>
      {% else %}
      <td>
        <div
          id="cancel-dot"
          class="d-flex justify-content-center align-items-center"
        >
          <i class="bi bi-dot"></i><span>Cancelada</span>
        </div>
      </td>
      {% endif %}
      {% for bill in bills %}
        {% if bill[7] == data[0] %}
          <td>Efectivo</td>
          <td>
            {% if bill[6] == 1 %}
              <div
              id="approve-dot"
              class="d-flex justify-content-center align-items-center"
            >
              <i class="bi bi-dot"></i><span>Pago</span>
            </div>
            {% else %}
              {% for appointment in appointments %}
                {% if appointment[0] == bill[7] and appointment[1] == 2 %}
                  <div
                    id="cancel-dot"
                    class="d-flex justify-content-center align-items-center"
                  >
                    <i class="bi bi-dot"></i><span>Cita cancelada</span>
                  </div>
                {% elif appointment[0] == bill[7] and appointment[1] == 1 %}
                <div
                  id="pending-dot"
                  class="d-flex justify-content-center align-items-center"
                >
                  <i class="bi bi-dot"></i><span>Pendiente</span>
                </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </td>
          <td>${{"{:,.2f}".format(bill[1]*0.19 + (bill[1]))}}</td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>

{% else %}

<div class="row container-fluid sub-nav d-flex justify-content-between">
  <div class="col-sm-12 col-md-6">
    <i class="bx bx-user"></i>
    <div class="detail">
      <h4>Citas de paciente</h4>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center detail-info-container">
  <h2>No tiene citas disponibles</h2>
</div>
{% endif %} {% endblock %}
