{% extends "layout.html" %} {% block body %} {% if data %}
<!-- sub-nav -->

<div class="row container-fluid sub-nav d-flex justify-content-between">
  <div class="col-sm-12 col-md-6">
    <i class="bx bx-user"></i>
    <div class="detail">
      <h4>Citas de {{data[0][7].title()}} {{data[0][8].title()}}</h4>
    </div>
  </div>
</div>

<!-- render data information -->

<div id="forms" class="f-flex justify-content-center">
  <table>
    <tr>
      <th>Nombre</th>
      <th>Fecha</th>
      <th>Horario</th>
      <th>Observaciones</th>
      <th>Estado</th>
      <th>Forma de pago</th>
      <th>Estado de pago</th>
      <th>Precio</th>
    </tr>
    <tr>
      {% for data in data %}
      <td>{{data[7].title()}} {{data[8].title()}}</td>
      <td>
        {{data[1].strftime("%Y-%m-%d").split("-")[2]}}/{{data[1].strftime("%Y-%m-%d").split("-")[1]}}/{{data[1].strftime("%Y-%m-%d").split("-")[0]}}
      </td>
      <td>{{data[2]}} - {{data[3]}}</td>
      <td>notas</td>
      {% if data[6] == 1 %}
      <td>
        <div
          id="approve-dot"
          class="d-flex justify-content-center align-items-center"
        >
          <i class="bi bi-dot"></i><span>Aprobada</span>
        </div>
      </td>
      {% else %}
      <td>
        <div
          id="cancel-dot"
          class="d-flex justify-content-center align-items-center"
        >
          <i class="bi bi-dot"></i><span>Cancelada</span>
        </div>
      </td>
      {% endif %}
      <td>efectivo</td>
      <td>pago</td>
      <td>$ 200.000</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% else %}

<div class="row container-fluid sub-nav d-flex justify-content-between">
  <div class="col-sm-12 col-md-6">
    <i class="bx bx-user"></i>
    <div class="detail">
      <h4>Citas de paciente</h4>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center detail-info-container">
  <h2>No tiene citas disponibles</h2>
</div>
{% endif %} {% endblock %}
