{% extends 'login-signup.html' %} {% block login %}

<div class="d-flex flex-column align-items-center" id="signup">
  <div class="d-flex justify-content-center">
    <img
      id="signup-img"
      src="../static/css/images/clinic-logo-removebg-preview.png"
      alt=""
    />
  </div>
  <h5>Registrarse</h5>
  <form action="">
    <div>
      <label for="">Correo</label><br />
      <input type="text" />
    </div>
    <div>
      <label for="">Usuario</label><br />
      <input type="text" />
    </div>
    <div>
      <label for="">Contraseña</label><br />
      <input type="text" />
    </div>
    <div class="d-flex justify-content-center">
      <button>Registrarse</button>
    </div>
  </form>
</div>

{% endblock %}
